@using Newtonsoft.Json
@using BSMWeb.Models
@using BSMWeb.Helpers
@{


    //var userJson = Context.Session["User"].ToString();
    //var user = JsonConvert.DeserializeObject<Employee>(userJson);
    var employee = Helper.GetSessionEmployee(Context);

}

<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                @employee.Username
            </li>
            <li class="mt">
                <a href="/EmployeeTraining/index">
                    <i class="fa fa-home">
                    </i>
                    <span>
                        Employee Training
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/login/logout">
                    <span>
                        Log Out
                    </span>
                </a>
            </li>

        </ul>
            
    </div>
</aside>