<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                Admin
            </li>
            <li class="mt">
                <a href="/Data/TrainingMatrix">
                    <span>
                        Training Matrix
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/Data/ExpirySheet">
                    <span>
                        Expiry Report
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/Employees/Index">
                    <span>
                        Employees
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/Data/TrainingReport">
                    <span>
                        Training Report
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/EmployeeTraining/Index">
                    <span>
                        Employee Training
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/Departments/Index">
                    <span>
                        Departments
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/login/logout">
                    <span>
                        Log Out
                    </span>
                </a>
            </li>



        </ul>

    </div>
</aside>