<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                Admin
            </li>
            <li class="mt">
                <a class="active" href="/Employees/Index">
                    <i class="fa fa-home">
                    </i>
                    <span>
                        Employees
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/EmployeeTrainings/Index">
                    <span>
                        Employee Training
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/Skills/Index">
                    <span>
                        Skills
                    </span>
                </a>
            </li>
            <li class="mt">
                <a href="/Departments/Index">
                    <span>
                        Departments
                    </span>
                </a>
            </li>
            @*<li class="mt">
                <a href="/DepartmentTypes/Index">
                    <span>
                        Department Types
                    </span>
                </a>
            </li>

            <li class="mt">
                <a href="/Trainings/Index">
                    <span>
                        Training
                    </span>
                </a>
            </li>

            <li class="mt">
                <a href="/JobTitles/Index">
                    <span>
                        Job Titles
                    </span>
                </a>
            </li>*@


        </ul>

    </div>
</aside>